@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fmtazq');
  src:  url('fonts/icomoon.eot?fmtazq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fmtazq') format('truetype'),
    url('fonts/icomoon.woff?fmtazq') format('woff'),
    url('fonts/icomoon.svg?fmtazq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\e901";
}
.icon-autorenew:before {
  content: "\e863";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-format_align_justify:before {
  content: "\e235";
}
.icon-search:before {
  content: "\f002";
}
.icon-check-square-o:before {
  content: "\f046";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-sort-desc:before {
  content: "\f0dd";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-asc:before {
  content: "\f0de";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-trash:before {
  margin-left: 2px;
  content: " \f1f8";
}
.icon-align-vertical-middle:before {
  content: "\e903";
}
.icon-edit:before {
  content: "\e902";
}
.icon-primitive-dot:before {
  content: "\f052";
}
.icon-one-finger:before {
  content: "\e900";
}

