html, body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

.menuContainer {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    min-width: 1220px;

    transition: right 0.5s;
    position: absolute;
    color: #ffffff;

    margin: 10px 0 10px 0;
}

/* Menu state: */
.menuContainer.closed {
    right: -1220px;
    top:0;
}
.menuContainer.opened {
    right: -820px;
    top:0;
}
.menuContainer.subMenuOpened {
    right: 0;
    top:0;
}


/* Menu elements state */
.elements .element > input,
.elements .element .subElements {
    display: none;
}

.elements .element > input:checked + label + .subElements {
    display: flex;
}

.elements .element > input:not(:checked) + label:before {
    content: '►';
    padding-right: 10px;
}

.elements .element > input:checked + label:before {
    content: '▼';
    padding-right: 10px;
}


/* Left menu */
.leftMenu {
    width: 400px;

    background-color: #0182aa;

    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;

    box-shadow: 0 0 16px #64625F;
}

.leftMenu .title {
    margin: 30px 0 0 20px;
    min-height: 30px;

    font-size: 20px;
    font-weight: bold;
}

.leftMenu .elements {
    margin: 40px 0;

    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
}

.leftMenu .elements .element {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    color: #bfe0ea;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 16px;

    min-height: 20px;
}

.leftMenu .elements .element label {
    margin: 11px;
}

.leftMenu .elements .element .subElements {
    width: 100%;
    height: 100%;
    min-height: 20px;

    flex-direction: column;
}

.elements .element .subElement {
    padding-left: 18px;

    display: flex;
    align-items: center;

    width: calc(100% - 20px);
    height: 100%;
    min-height: 38px;

    color: black;
    background-color: white;

    border: #e5e6e7 solid 1px;
    border-top: transparent solid 1px;
}

.elements .element .subElement.default {
    padding-left: 35px;
    width: calc(100% - 37px);

    color: #acadae;
    background-color: white;
    border-left: #e5e6e7 solid 1px;
    border-right: #e5e6e7 solid 1px;
}

.leftMenu .buttons {
    display: flex;
    align-items: stretch;
    justify-content: center;

    min-height: 80px;
}
.leftMenu .buttons .button {
    width: 50%;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;

    font-size: 16px;
}
.leftMenu .buttons .update {
    background-color: #fae002;
}
.leftMenu .buttons .cancel {
    color: #ffffff;
    background-color: #3995b1;
}

.leftMenu hr {
    padding: 0;
    margin: 0;
    display: block;
    height: 4px;
    background: linear-gradient(to top, #02779D, transparent);
    border: 0;
}


/* Checkbox style */
.subElements .subElement input {
    display: inline;

    opacity: 0;
}
.subElements .subElement > label:after {
    display: inline-block;
    content: '';

    height: 16px;
    width: 36px;

    padding-left: 10px;
    padding-top: 2px;
    margin-left: 200px;
    margin-top: -4px;

    font-size: 12px;
    font-weight: bold;

    border-radius: 8px;
    border: black solid 1px;

    background-color: #fff;
}
.subElements .subElement > input:checked + label:after {
    content: 'on ⚫';
}
.subElements .subElement > input:not(:checked) + label:after {
    content: '⚫ off';
}

/* Right menu */

.rightMenu {
    width: 800px;

    background-color: #6f6b69;

    box-shadow: 0 0 16px #64625F;
}

.rightMenu .title {
    margin: 30px 0 0 20px;

    font-size: 20px;
    font-weight: bold;
}

.rightMenu .subTitle {
    width: 100%;
    padding: 8px 0 0 10px;
}

.rightMenu .columns {
    display: flex;
}

.rightMenu .leftColumn {
    margin-left: 20px;
    width: 50%
}

.rightMenu .leftColumn .elements {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
}

.element {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;

    color: #ffffff;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 16px;
}

.rightMenu .elements .element label {
    margin: 11px;
}

.rightMenu .rightColumn {
    margin-left: 20px;
}

.leftMenu label,
.rightMenu label {
    display: block;
    margin-top: 16px;
}

.rightMenu .columns .leftColumn {
    margin-left: 0;
}

.rightMenu .columns .leftColumn label {
    margin-left: 10px;
}
.rightMenu .columns .rightColumn label {
    margin-top: 10px;
}

.tabs {
    display: flex;
}

.tabs label {
    border: outset 1px #898682;
    border-bottom: solid 1px transparent;

    padding: 10px 15px;
    margin-bottom: -1px;
}

.tabs label.active {
    border-bottom: solid 1px #6f6b69;
}

.space {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 45px;

    border-top: outset 1px #898682;
}

.rightMenu hr {
    padding: 0;
    margin: 0;
    display: block;
    height: 6px;
    background: linear-gradient(to bottom, #5B5854, transparent);
    border: 0;

    width: 100%;
}

.rightMenu .columns .leftColumn .elements hr {
    padding: 0;
    margin: 0;
    display: block;
    height: 4px;
    background: linear-gradient(to top, #64625F, transparent);
    border: 0;
}

.rightMenu .columns .rightColumn {
    width: 50%;
}

.rightMenu .columns .rightColumn .element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: 72px;
    padding-top: 15px;

    margin: 0 12px;
}

.rightMenu .columns .rightColumn .element label {
    margin: 0 0 12px 10px;
}

.rightMenu .columns .rightColumn .element input {
    border-radius: 5px;
    padding-left: 18px;
    width: calc(100% - 25px);
    height: 32px;
}