svg {
    border: seagreen 1px solid;
    background-color: #ffffff;
}

svg.increase {
    background-color: #cde2d5;
}
svg.increase .axis{
    stroke: none;
}

svg.decrease {
    background-color: #e2c6d2;
}
svg.decrease .axis{
    stroke: none;
}

svg.total {
    background-color: #ffffff;
}
svg.total .axis{
    stroke: none;
}

.increase {
    fill: #67A17C;
    stroke: #3a7f40;
}
.increase:hover {
    fill: #a0e2bb;
    stroke: #59e284;
}
.increase.resize {
    fill: #cde2d5;
    stroke: #a0e2b5;
}

.decrease {
    fill: #C26979;
    stroke: #973c4b;
}
.decrease:hover {
    fill: #e28393;
    stroke: #e24f61;
}
.decrease.resize {
    fill: #e2c6d2;
    stroke: #e27d8c;
}

.total {
    fill: #C4DAF8;
    stroke: #8293FF;
}
.total:hover {
    fill: #dde6f8;
    stroke: #C4DAF8;
}
.total.resize {
    fill: #ffffff;
    stroke: #C4DAF8;
}

.chartBarMenu {
    fill: #f0e164;
    fill-opacity: 0.7;
}

.chartBarSubMenu {
    fill: #f0e164;
}